.container {
  width: min(100% - 32px, 1024px);
  margin-inline: auto;
}
.d-flex {
  display: flex;
}
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-col-center {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.flex-row-center {
  display: flex;
  align-items: center;
}
.d-grid {
  display: grid;
}
.grid-center {
  display: grid;
  place-items: center;
}
.text-center {
  text-align: center;
}

/* OSTALO */

.primary-btn,
.secondary-btn {
  padding: 0.7rem 1.4rem;
  border-radius: 100vmax;
  background-color: var(--neutral-900);
  font-weight: 400;
  overflow: hidden;
  isolation: isolate;
  letter-spacing: 1px;
}
.primary-btn::after {
  content: "";
  position: absolute;
  width: 0%;
  inset: 0;
  background: linear-gradient(to right, hsl(300, 87%, 41%), hsl(227, 91%, 60%));
  z-index: -1;
  transition: 0.3s;
  border-radius: 100vmax;
}
.primary-btn:hover::after {
  box-shadow: 0 0 10px hsl(300, 89%, 50%);
  width: 100%;
}
.secondary-btn {
  background-color: var(--neutral-900);
  outline: 2px solid var(--black);
  overflow: hidden;
  isolation: isolate;
}
.secondary-btn::after {
  content: "";
  position: absolute;
  width: 0%;
  inset: 0;
  z-index: -2;
  transition: 0.3s;
  background-color: rgb(241, 49, 232);
  border-radius: 100vmax;
  overflow: visible;
}
.secondary-btn::before {
  content: "";
  position: absolute;
  inset: 3px;
  z-index: -1;
  transition: 0.3s;
  background-color: var(--neutral-900);
  border-radius: 100vmax;
}
.secondary-btn:hover::after {
  width: 100%;
}
.see-more-link {
  position: absolute;
  right: 5vw;
  bottom: 1.5rem;
  color: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 1px;
  gap: 0.3rem;
  padding-block: 0.5rem;
}
.see-more-link img {
  transition: 0.3s;
}
.see-more-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 4rem;
  display: block;
  background-color: hsl(51, 100%, 50%);
  transition: 0.3s;
}
.see-more-link:hover::after {
  width: 6rem;
}
.see-more-link:hover img {
  transform: translateX(5px);
}
.pt-7 {
  padding-top: 7rem;
}
.order-2 {
  order: 2;
}
.excerpt--text {
  -webkit-line-clamp: 2;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  grid-row: 2;
}
